# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# VSCode settings (optional)
.vscode/

# Environment variables / secrets
.env
*.env

# Mac / Windows system files
.DS_Store
Thumbs.db

# Logs and output
*.log
*.sqlite3
*.db
*.pdf

# Compiled assets
*.egg-info/
dist/
build/

# PyInstaller output
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
